.container {
  display: grid;
  grid-template-rows: 30rem 1fr;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 8rem 0;
  height: 100%;
}


.form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  max-width: 48rem;
  width: 100%;
  margin: 0 auto;
}

.field {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

