// colors
$colorPrimary: #FA9E31;
$colorSecondary: #FFF6DE;

// text Colors
$textColor: #343434;
$textColorFaded: #666666;
$textColorWhite: #ffffff;

// color backgrounds
$backgroundColor: #fafafa;
$inputBackgroundColor: #ededed;
