@import "src/styles/colors";

.card {
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  border: #ffffff solid .2rem;
  position: relative;
  transition: all .3s ease-in-out;

  &:hover {
    border: #fa9e31 solid .2rem;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    border-radius: 1.5rem;
    cursor: pointer;
  }

  &__content {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    color: $textColorWhite;
  }

  &__title {
    font-weight: 500;
    font-size: 2rem;
    line-height: 3rem;
  }

  &__author {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  &__actions {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }
}