.user {
  display: flex;
  flex-direction: column;

  &__count {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 2.8rem;
    text-align: center;
  }

  &__paragraph {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.8rem;
    text-align: center;
  }
}